body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    display: none;
    align-items: center;
    width: 52%;
    height: 60%;
    background: radial-gradient(rgba(148, 169, 179, 0.9), rgba(94, 121, 133, 0.9));
    border: solid 1px rgb(216, 227, 231);
    border-radius: 15px;
    box-shadow: inset 2px 2px 5px rgba(94, 121, 133, 0.6);
    gap: 40px;
    animation: show 1.2s ease-in;
}

.map {
    display: flex;
    width: 37%;
    height: 85%;
    margin-left: 50px;
}

.map img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.map1 {
    display: none;
    width: 37%;
    height: 85%;
    margin-left: 50px;
    animation: show 0.3s ease-in;
}

.map1 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.map2 {
    display: none;
    width: 37%;
    height: 85%;
    margin-left: 50px;
    animation: show 0.3s ease-in;
}

.map2 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.map3 {
    display: none;
    width: 37%;
    height: 85%;
    margin-left: 50px;
    animation: show 0.3s ease-in;
}

.map3 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.mission {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 85%;
    border-radius: 15px;
    gap: 25px;
}

.entre {
    width: 100%;
    height: 1%;
    border-bottom: solid 2px rgba(160, 215, 235, 0.5);
}

.mission h1 {
    text-align: center;
    font-family: roboto, sans-serif;
    color: rgb(223, 245, 253);
}

.facile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    max-height: 25%;
    background-color: rgba(79, 100, 109, 0.8);
    border-radius: 10px;
}

.moyen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    max-height: 25%;
    background-color: rgba(79, 100, 109, 0.8);
    border-radius: 10px;
}

.difficile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    max-height: 25%;
    background-color: rgba(79, 100, 109, 0.8);
    border-radius: 10px;
}


.img {
    width: 18%;
    height: 100%;
}

.img img {
    width: 100%;
    height: 100%;
}

.facile h2 {
    color: rgb(255, 255, 255);
    font-family: roboto, sans-serif;
}

.facile h3 {
    color: rgb(255, 255, 255);
    font-family: roboto, sans-serif;
    font-weight: 100;
}

.facile button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.moyen h2 {
    color: rgb(255, 255, 255);
    font-family: roboto, sans-serif;
}

.moyen h3 {
    color: rgb(255, 255, 255);
    font-family: roboto, sans-serif;
    font-weight: 100;
}

.moyen button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.difficile h2 {
    color: rgb(255, 255, 255);
    font-family: roboto, sans-serif;
}

.difficile h3 {
    color: rgb(255, 255, 255);
    font-family: roboto, sans-serif;
    font-weight: 100;
}

.difficile button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mission1 {
    display: none;
    flex-direction: column;
    width: 45%;
    height: 85%;
    border-radius: 15px;
    gap: 25px;
}

.mission2 {
    display: none;
    flex-direction: column;
    width: 45%;
    height: 85%;
    border-radius: 15px;
    gap: 25px;
}

.mission3 {
    display: none;
    flex-direction: column;
    width: 45%;
    height: 85%;
    border-radius: 15px;
    gap: 25px;
}

.up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.up h2 {
    font-family: roboto, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    animation: show 0.3s ease-in;
    margin-right: 100px;
}

.up i {
    cursor: pointer;
    color: rgb(255, 255, 255);
    animation: show 0.3s ease-in;
}

.btn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.main button {
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    margin-top: 55px;
    font-size: 18px;
    cursor: pointer;
    animation: show 1.5s ease-in;
    margin-left: 200px;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    overflow-y: hidden;
}
.main h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: roboto, sans-serif;
    animation: show 0.3s ease-in;
}
